#container {
    display: flex;
}
#visualisation {
    width: 100vw;
    height: 100vh;
    /* border: solid 1px red; */
    overflow: auto;
}

#svg_radial_bar_plot {
    /* border: solid 3px green; */
    display: block;
    /* display: block; */
    margin: auto;
    height: 100%;
}

#countryTable {
    /* margin-right: 20px; */
    /* border-collapse: collapse; */
    border: 1px solid;
    font-family: 'Gill Sans', 'Lucida Sans', sans-serif;
    font-size: 12px;
    width: 20%;
}

td {
    border: 1px solid;  
}
