/* Exclusively for Global Comparison of Physicians' Distribution - radial stacked barplot */
/* Button for options */
button {
    background-color: #2a4d66; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    font-family: "Gill Sans", "Lucida Sans", sans-serif;
}

button:hover {
    background-color: white;
    color: #2a4d66;
    border: 2px solid #2a4d66;
}

/* Div contain the visualisation and the table */
#container {
    display: flex;
    margin: auto;
}

/* The visualisation */
#visualisation {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

#svg_radial_bar_plot {
    display: block;
    margin: auto;
    height: 100%;
}

/* Table which match country code with country name */
table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Lucida Sans', sans-serif;
    font-size: 12px;
    width: 25%;
}